@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

:root {
	/* 字型 */
	--small-cpation: 1.2rem;
    --K2D-body: 1.6rem;
    --body-text:1.6rem;
    --body-semibold:2rem;
    --body-title:2.4rem;
    --subtitle:1.4rem;
    --heading-h1:2.8rem;
	/* 灰階 */
	--card:rgba(249, 249, 249, 0.9);
	--black-600: rgb(144, 144, 144);
	--black-700: rgb(111, 111, 111);
	--purple-100: rgb(236, 235, 252);
	--purple-400: rgb(167, 151, 231);
	--white: rgba(255, 255, 255);
	/* 透明 */
	--shadow: rgb(51, 51, 51, .25);
	--btn-shadow: 4px 4px 20px rgba(214, 213, 221, .6), -4px -4px 8px rgba(255, 255, 255, 0.5);
	--inset-shadow: 0 4px 10px rgba(214, 213, 221, .6);
	/* 漸層 */
	--gradient-card: rgb(255, 255, 255), rgb(255, 255, 255, .5);
	--gradient-btn: rgba(203, 194, 212, 0.2),  rgba(249, 249, 249, 0);
	--gradient-sky-purple: rgb(91, 97, 149), rgb(157, 134, 159);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    letter-spacing: 0.12em;
}

body {
	font-size: 100%;
	line-height: 1.5;
	background-image: linear-gradient(var(--gradient-sky-purple));
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul,
ol {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

a {
	display: block;
	/* 將預設 inline 改為 block */
	text-decoration: none;
}



main {
	display: flex;
	width: 100%;
	justify-content: center;

}

section {
	display: flex;
	padding:8% 4%;
	margin: 30px;
	width: 60%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 2px var(--shadow);
	background-color: var(--card);
	border-radius: 40px;
	z-index: 10;
}

form {
	display: flex;
	flex-direction: column;
row-gap: 20px;
}

.title {
	text-align: center;
}

.title h2 {
	font-family: "Noto Sans TC", sans-serif;
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: .12rem;
	line-height: 150%;
	color: var(--black-700);
	width: 100%;
	margin: 8px 0;
}

button {
	width: 160px;
	background-image:  linear-gradient(var(--gradient-btn));
	color: var(--purple-400);
	height: 40px;
	line-height: 30px;
	border-radius: 99px;
	border: none;
	box-shadow: 4px 4px 20px rgba(214, 213, 221, .6), -4px -4px 8px rgba(255, 255, 255, 0.5);
	font-size: 1.6rem;
	font-weight: bold;
	margin: 8px;
}

button:hover {
	background-color: var(--purple-100);
	cursor: pointer;
}

.progress-bar {
	margin: 20px;
	width: 50%;
	height: 16px;
	background-color: var(--purple-100);
	border-radius: 99px;
	box-shadow: inset var(--inset-shadow);
}

.progress {
	width: 50%;
	height: 16px;
	background-color: var(--purple-400);
	border-radius: 99px;
	box-shadow: inset var(--inset-shadow);
}

small {
	font-family: K2D;
	color: var(--white);
	font-size: 1.2rem;
	font-weight: 100;
	letter-spacing: .1rem;
	display: flex;
	float: right;
	padding-right: 8px;
}

#btn__next {
	color: var(--white);
	background-color: var(--purple-400);
	font-size: 1.6rem;
	font-weight: bold;
	padding: 12px 20%;
	border-radius: 99px;
	border: none;
	margin: 40px 0 0;
	cursor: pointer;
}

.select-menu {
	width: 60%;
	margin: 10px auto;
}

.select-menu .select-btn {
	display: flex;
	height: 40px;
	background-image: linear-gradient(var(--gradient-btn));
	padding: 20px;
	font-size: 18px;
	font-weight: 400;
	border-radius: 8px;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
	box-shadow: inset var(--inset-shadow)
}

.select-btn i {
	font-size: 1.6rem;
	transition: 0.3s;
	color: var(--black-600);
}

.select-menu.active .select-btn i {
	transform: rotate(-180deg);
	/* color: white;
	background-color: var(--purple-400); */
}

.select-menu .options {
	z-index: 10;
	padding: 20px;
	margin-top: 10px;
	border-radius: 8px;
	background-color: var(--card);
	box-shadow: 4px 4px 10px var(--shadow);
	display: none;
}

.select-menu.active .options {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	overflow: auto;
	height: 40vh;
	background-color: transparent;
}

.select-menu.active ::-webkit-scrollbar {
	width: 12px;
}

.select-menu.active ::-webkit-scrollbar-track {
	background-color: var(--purple-100);
	box-shadow: inset 4px 4px 10px rgba(214, 213, 221, .6);
	border-radius: 99px;
	margin: 4px 4px;
}

.select-menu.active ::-webkit-scrollbar-thumb {
	background-color: var(--purple-400);
	border-radius: 99px;
	box-shadow: inset 4px 4px 10px rgba(214, 213, 221, .6);
}

.select-menu.active ::-webkit-scrollbar-thumb:hover {
	background: var(--purple-400);
	box-shadow: inset 4px 4px 10px rgba(214, 213, 221, .6);
}

.options .option {
	display: flex;
	height: 40px;
	cursor: pointer;
	padding: 20px;
	align-items: center;
	/* background-image: linear-gradient(var(--gradient-btn));
	box-shadow: var(--btn-shadow); */
	border-radius: 8px;
	margin: 4px;
}

.options .option:hover {
	background-color: var(--purple-100);
}

.options .option:active {
	background: var(--purple-400);
}

.option .option-text {
	display: flex;
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--black-600);
}

.sBtn-text {
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--black-600);
}

.cloud {
	position: absolute;
	justify-content: center;
	align-items: flex-end;
	z-index: 1;
	bottom: 0;
	object-fit: cover;
}