@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 重置樣式 */
* {
    font-family: "Noto Sans",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.1s linear;
}

/* 字體顏色樣式設定 */
:root {
    --small-caption: 1.2rem;
    --K2D-body: 1.6rem;
    --body-text: 1.6rem;
    --body-semibold: 2rem;
    --body-title: 1.8rem;
    --subtitle: 1.4rem;
    --heading-h2: 2rem;

    --black-500-border: #d9d9d9;
    --black-800-main-text: #4b4b4b;
    --black-700: #6f6f6f;
    --white: #fff;

    --primary-200: #dddafa;
    --primary-400: #a797e7;
    --primary-500: #856be7;
    --secondary-100: #e7f0ce;
    --secondary-400: #7fc179;

    --yellow: #ffee92;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    letter-spacing: 0.12em;
}

a {
	display: block;
	text-decoration: none;
}

body {
    font-family:"Noto Sans",sans-serif;
    font-size: 100%;
    line-height: 1.5;
    background-color: #f7f3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    min-height: 100vh;
}

/*  卡片本體 */
.container  {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 32px 56px;
    min-width: 52vh;
    width: 26%;
    text-align: center;
}
.info-section h2 {
    font-size: 2rem;
    color:var(--black-800-main-text);
    margin: 4px 0px;
    font-weight: bold;
    padding-bottom: 14px;
    text-align:center;
}

.info-wrapper {
    display: flex;
    justify-content: center;
    text-align: left;
}

.therapist-photo {
    width: 78%;
    height: auto;
    border-radius: 12px;
}

.info-text {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    text-align: left;
}


.info-row {
    text-align: left;
}

.info-row small {
    color: var(--black-700);
    font-weight: bold;
}

.info-row h3 {
    font-size: 2rem;
    color: var(--black-700);
    margin-top: 4px;
    font-weight: bold;
}

.info-row .status-cancelled {
    color: #ff1d1d;
    font-weight: bold;
}


.info-details {
    color: var(--black-700);
    font-weight: bold;
    text-align: left;
    margin-bottom: 8px;
    line-height:1.6;
}

.info-details p {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 16px;

}

/* 查看更多 */
.moreInfo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin-top: 4px;
    margin-bottom: 56px;
    
}

.moreInfo-box small {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-700);
    cursor: pointer;
    margin-right: 4px;
}

.moreInfo-box a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreInfo-box  img {
    width: 80%;
    height: auto;
}

/* 按鈕 */
.btn-box {
    text-align: center;
    margin-top: 16px;
}

.btn-close {
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius:999px;
    border: 3px solid var(--primary-400);
    background-color: transparent;
    color:var(--primary-400);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #856be7;
    border: 3px solid var(--primary-500);
    color: #fff;
}