/* 重置樣式 */
* {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.1s linear;
}

/* 字體顏色樣式設定 */
:root {
    --black-500-border: #d9d9d9;
    --black-800-main-text: #4b4b4b;
    --black-700: #6f6f6f;
    --white: #fff;

    --primary-200: #dddafa;
    --primary-400: #a797e7;
    --primary-500: #856be7;
    --secondary-100: #e7f0ce;
    --secondary-400: #7fc179;

    --yellow: #ffee92;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    /*scroll-padding-top: 5.5rem; */
    /* scroll-behavior: smooth; */
    letter-spacing: 0.12em;
}

/* 字體設定 */
body {
    font-family: "Noto Sans", sans-serif;
    background-color: #f7f3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 120vh;
    width: 40%;
    padding: 60px 40px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
}

/*-- 左邊欄位-詳細資訊  */
.info-section h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--black-800-main-text);
    margin-bottom: 16px;
    text-align: center;
}

.info-photo-box {
    display: flex;
    justify-content: center;
}

.therapist-photo {
    width: 80%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 16px;
}

.info-text {
    display: flex;
    justify-content: space-around;
    margin: 16px auto;
}

.info-row {
    text-align: left;
    margin-bottom: 8px;
}

.info-row .status-finished {
    color: var(--secondary-400);
}

.info-row small {
    color: var(--black-700);
    font-weight: bold;
}

.info-row h2 {
    font-size: 2rem;
    color: var(--black-700);
    font-weight: 700;
    margin-top: 4px;
    text-align: center;
}

.info-details {
    color: var(--black-700);
    font-weight: 500;
    display: grid;
    justify-content: center;
    text-align: left;
    margin-bottom: 8px;
    line-height: 1.6;
}

.info-details small {
    color: var(--black-700);
    font-weight: bold;
}

.info-details p {
    margin-bottom: 16px;
    font-size: 1.4rem;
    margin-right: 10px;
    flex-basis: 80px;
    color: var(--black-700);
    /* font-weight: bold; */
}

/* 左邊欄位裡的查看更多 */
.more-info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.more-info-box small {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black-700);
    cursor: pointer;
    margin-right: 4px;
    cursor: pointer;
}

.more-info-box a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-info-box img {
    width: 80%;
    height: auto;
}

/* 右邊欄位 */
.rating-section {
    display: flex;
    text-align: left;
    justify-content: space-between;
    flex-direction: column;
}

/*右邊欄位-特質評分區  */
.rating-section h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--black-800-main-text);
    margin-bottom: 16px;
    text-align: center;
}

.rating-category {
    display: flex;
    align-items: end;
    margin-bottom: 16px;
    width: auto;
    justify-content: space-between;
}

/* 特質評分區項目：溫柔 */
.category1 {
    padding-right: 3rem;
}
.rating-category span {
    font-size: 1.6rem;
    margin-right: 10px;
    color: var(--black-700);
    font-weight: 900;
}

.stars {
    display: flex;
}

.star-box {
    display: flex;
    width: auto;
}

.star {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: auto;
    gap: 5%;
}

.star:last-child {
    margin-right: 0;
}

/* RWD 星星 */
/* @media (max-width: 768px) {
    .star {
        width: 16px; 
    }
}

@media (max-width: 480px) {
    .star {
        width: 14px; 
    }
} */

/*右邊欄位-心得分享區  */
.rating-experience {
    padding-top: 40px;
    width: 100%;
}
.rating-experience h3 {
    color: var(--black-800-main-text);
}

.rating-experience textarea {
    width: 100%;
    height: 28vh;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: none;
    margin-bottom: 15px;
    font-size: 14px;
}

.rating-experience textarea::placeholder {
    color: #bbb;
}

.anonymous-share {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #4a4a4a;
    justify-content: center;
}

.anonymous-share input {
    margin-right: 10px;
}

.feedback-section h4 {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 10px;
}

/* 按鈕區域 */
.btn-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 4%;
}

button {
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    font-size: 1.6rem;
    max-width: 300px;
    font-weight: bold;
    border-radius: 999px;
    text-align: center;
    border: 3px solid var(--primary-400);
    background-color: transparent;
    color: var(--primary-400);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-turn-off {
    background-color: transparent;
    color: var(--primary-400);
    border: 3px solid var(--primary-400);
}

.btn-save {
    background-color: var(--primary-400);
    color: #fff;
}

button:hover {
    opacity: 0.8;
}

/* RWD  */
@media (max-width: 992px) {
    .container {
        max-width: 992px;
        width: 70%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 1200px;
        width: 70%;
    }
    .button {
        width: 70%;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 1200px;
        width: 78%;
        align-items: center;
    }

    .main {
        display: grid;
        width: 90%;
    }

    .rating-section h3 {
        font-size: 1.4rem;
    }

    .rating-category span {
        font-size: 1rem;
    }

    .info-section,
    .rating-section {
        width: 90%;
    }

    .info-row {
        display: flex;
        text-align: center;
        margin-bottom: 8px;
        flex-direction: column;
    }

    .info-row h2 {
        font-size: 1.9rem;
    }
    .rating-category span {
        margin-right: 10px;
        color: var(--black-700);
        font-weight: 900;
        display: flex;
        justify-content: center;
    }
    button {
        width: 100%;
        font-size: 1.2rem;
    }
    .btn-turn-off {
        margin-bottom: 10px;
    }

    /* .btn-turn-off span{
            display: flex;
        } */
    .btn-box {
        display: flex;
        margin-top: 30px;
        width: 50%;
        flex-wrap: wrap;
        align-content: center;
    }
}
