/* Header 和導航欄樣式 */
a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

header a.logo {
    display: inline-block;
    width: 15%;
}

header img {
    display: block;
    width: auto;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* 使用 gap 控制間距 */
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navigation a {
    padding: 1.6rem 1.2rem;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--white);
    box-shadow: none;
    font-weight: 800;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2.4rem;
    background: linear-gradient(var(gradient-card));
    background-color: var(--white);
    border-radius: 999px;
    /* 光暈 */
    /* box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 20px rgba(214, 213, 221, 0.6); */
    /* 光暈 */
    font-size: 1.6rem;
    font-weight: 800;
}

.login span {
    color: var(--primary-400);
}

.login i {
    /* padding-left: 8px; */
    display: none;
}

.login:hover,
.login.active {
    display: flex;
    background: linear-gradient(to bottom, rgb(123, 104, 199, 0.8), rgb(167, 151, 231, 0.8));
    box-shadow: 4px 4px 20px rgba(214, 213, 221, 0.6);
    transition: none;
    cursor: pointer;
}

.login span {
    color: var(--primary-400);
    /* 默认颜色 */
}

.login:hover span,
.login.active span {
    color: var(--white);
    /* 悬停时颜色 */
}

.navigation a:hover {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--yellow);
    background: none;
    font-weight: 800;
    box-shadow: none;
}

@media (max-width: 820px) and (min-width: 769px) {
    .navbar {
        gap: 1.2rem;
    }

    .navigation {
        gap: 0.8rem;
    }

    .navigation a {
        padding: 1.2rem 0.8rem;
        font-size: 1.2rem;
    }

    .navigation a:hover {
        font-size: 1.2rem;
    }

    .login {
        padding: 0.8rem 1.6rem;
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {
    header {
        display: flex;
        align-items: flex-start;
    }

    header a.logo {
        width: 30%;
    }

    header .navbar {
        display: flex;
        align-items: flex-start;
        position: relative;
    }

    header .navigation {
        display: flex;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        position: absolute;
        margin: 1.2rem;
        margin-right: 0;
        padding: 1.2rem;
        width: 150px;
        right: 0;
        top: 100%;
        align-items: center;
        background-color: var(--white);
        border-radius: 1.6rem;
    }

    header .navigation.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navigation a {
        font-size: 1.4rem;
        color: var(--primary-400);
        padding: 0.8rem 1.2rem;
    }

    header .navigation a:hover {
        font-size: 1.4rem;
        color: var(--primary-500);
    }

    .login {
        padding: 0.8rem 1.6rem;
        color: var(--primary-400);
        background-color: var(--white);
    }

    .login.active {
        background-color: var(--primary-400);
        color: var(--white);
    }

    header .navbar .login span {
        display: none;
    }

    header .navbar .login #menu-bars {
        display: block;
        font-size: 1.8rem;
    }
}
@media (max-width: 480px) {
    .logo {
        visibility: hidden;
    }
}

@media (hover: hover) {
    .login:hover {
        background-color: var(--primary-400);
        color: var(--white);
    }
}
