* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    
} */

body {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}

/* 導覽列 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: #332A54;
    max-width: 1920px;
}

header .logo img {
    height: 30px;
}

header nav {
    display: flex;
    padding-right: 15px;
}

.menu-container {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    /* margin-left:1100px ; */
    /* align-self: flex-end; */
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

/* 導覽列按鈕 */
.auth-button button {
    background: #A797E7;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    padding: 0px 25px;
    /* cursor: pointer; */
    border-radius: 90px;
    margin-right: auto; /*將登入/註冊按鈕推到最右邊*/
}

.auth-button button:hover {
    background-color: #563D7C;
}

.auth-button i {
    padding-left: 10px;
}

/* 頁面A：大LOGO+找心理師按鈕 */
#home {
    background: linear-gradient(to bottom, #332A54, #7A698A);
    text-align: center;
    height: 800px;
}

.home-container{
    padding: 120px 165px 100px 165px;
}

.home-images-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-images-logo img {
    width: auto;
    height: 100%;
    transform: scale(0.75);
}

.search-btn{
    padding-top: 45px;
}
.search-btn button {
    background-color: #FFFFFF;
    color: #A797E7;
    border: none;
    padding: 8px 120px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    /* cursor: pointer; */
}
.search-btn button:hover {
    background-color: #A797E7;
    color: #FFFFFF;
}

button i {
    padding: 16px 0px 16px 14px;
}

.home-images-moon-container {
    display: flex;
    justify-content: flex-end; /* 將圖片靠右對齊 */
    align-items: flex-start; /* 將圖片靠上對齊 */
    padding-top: 20px; /* 確保圖片在 header 下方 */
}

.home-images-moon img {
    width: auto;
    height: 200px; /* 根據需要調整圖片高度 */
    transform: none; /* 移除 translateX(-50%) */
}

/* 頁面B：痛點 */
#problems {
    height: 850px;
    width: auto;
    background-color: #7A698A;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;/* 将子元素向下對齊 */
    align-items: center; 
    /* 水平置中所有子元素 */
    /* height: 200vh; */
    /* 根據需要設置容器的高度 */
}
.problems-title{
    padding-bottom: 30px;
}
.problems-title h2 {
    font-size: 30px;
}

.problems-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    position: relative;
}
/* 頁面B：圖片區*/
.icon-anny{
    position: absolute;
    top: 185px; /* 調整這個值來改變圖片的垂直位置 */
    left: 48%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* 設置較低的 z-index */
}
.icon-anny img {
    transform: scale(0.8);
    max-width: 100%;/* 確保圖片不會超出容器 */
    height: auto;
}

.icon-annoymoon{
    position: absolute;
    top: 270px; /* 改變圖片的垂直位置 */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20; /* 設置較高的 z-index，確保顯示在最上面 */
}
.icon-annoymoon img {
    transform: scale(0.85);
    max-width: 100%;
    height: auto;
}
.item-6q{
    position: absolute;
    top: 80px; /* 調整這個值來改變圖片的垂直位置 */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20; /* 設置較高的 z-index，確保顯示在最上面 */
}
.item-6q img {
    transform: scale(0.8);
    max-width: 100%;
    height: auto;
}

.item-wave {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.item-wave img {
    max-width: 100%;
    height: auto;
}

.item-wave2{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.item-wave2 img {
    opacity: 0.6;
    max-width: 100%;
    height: auto;
}

.item-wave3{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.item-wave3 img {
    opacity: 0.999;
    max-width: 100%;
    height: auto;
}

/* 服務特色區 */
#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #2C2C2D, #42514E);
    padding: 50px 16px;
    text-align: center;
}
.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-container img {
    width: 24px;
    height: auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    max-width: 1200px; /* 限制最大寬度 */
    width: 100%;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 300px; /* 每個項目的最大寬度 */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.title-container h2 {
    font-size: 32px;
    padding: 32px;
    align-items: center;
    /* 水平置中 */
}

.service-item h3 {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.service p {
    font-size: 16px;
    line-height: 1.5;
}

/* 數據證明區 */
#statistics {
    display: flex;
    flex-direction: column;
    /* 垂直排列 */
    align-items: center;
    /* 水平置中 */
    background: #42514E;
    padding: 45px 88px 93px 88px;
    text-align: center;
}

.stas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    max-width: 1200px; /* 限制最大寬度 */
    width: 100%;
}

.stas-item {
    width: 100%;/*元素的寬度會根據其父容器的寬度自動調整，*/
    max-width: 300px; /* 每個統計項目的最大寬度 */
}

.stas-item h3 {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.stas-item p {
    font-size: 20px;
}

/* Q&A區 */
#faq {
    position:relative;
    /* height: 800px; */
    width: auto;
    background: linear-gradient(to bottom, #44615E, #1F8970);
    /* padding: 50px 20px; */
    /* margin-top: 50px; */
    text-align: center;
}

.home-images-wave-green img {
    width: 100%; /* 確保圖片寬度自適應父容器 */
    height: auto; 
    display: block; /* 去除圖片下方的空隙 */

    /* margin: 0 auto;  */
}

#faq h2 {
    font-size: 32px;
    margin-bottom: 20px;
    padding-top: 100px;
    
}

.faq-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 88px;
}

.question {
    background-color: rgba(255, 255, 255, 0.1); /* 淡色背景框 */
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin: 16px;
    padding: 20px;
    width: 100%; /* 預設全寬 */
    max-width: 250px; /* 最大寬度 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.question h3 {
    /* font-size: 20px; */
    margin-bottom: 10px;
    /* justify-content: center; */
}

.question p {
    font-size: 16px;
    margin-bottom: 10px;
}

.home-images-wave-lightgreen img{
    width: 100%; /* 確保圖片寬度自適應父容器 */
    height: auto; 
    display: block; /* 去除圖片下方的空隙 */
}

/* 服務流程區 */
#step-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #74A695;
    padding: 50px 20px;
    text-align: center;
}
.home_images_step-arrow img{
    display: flex;
    width: 100%; /* 確保圖片寬度自適應父容器 */
    height: auto; 
    display: block; /* 去除圖片下方的空隙 */
}
#step-section h2 {
    font-size: 32px;
    margin: 40px;
}

.step-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* 確保在小螢幕上項目能夠換行 */
    width: 100%;
    max-width: 1200px; /* 最大寬度 */
    gap: 40px; /* 項目之間的間距 */
    margin: 40px;
}

.step {
    display: flex;
    /* flex-direction: column;  */
    align-items: center;
    /* text-align: center; */
    max-width: 450px; /* 每個步驟項目的最大寬度 */
    flex-grow: 1; /* 使項目根據可用空間進行調整 */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* 背景透明 */
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.step:hover {
    transform: translateY(-10px); /* 滑鼠懸停時上升效果 */
}

.step img {
    width:72px; /* 調整圖標大小 */
    height: auto;
}

.context{
    margin-left: 16px;
    width: 100%;
    max-width: 1390px;
}
.context p{
    text-align: left;
}
.step h3 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 15px;
}

.step p {
    font-size: 16px;
    line-height: 1.5;
}


/* 用戶經驗分享區 */
#experience_sharing {
    background: linear-gradient(to bottom, #86C89E, #D3D7C4);
    padding: 50px 20px;
    text-align: center;
}

#experience_sharing h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.experience_sharing_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.experience_sharing_list div {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    font-size: 16px;
}

/* 頁尾區 */
footer {
    text-align: center;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    margin-left: 80px;
}

footer nav ul li a {
    color: #6F6F6F;
    text-decoration: none;
    font-size: 16px;
}

footer small {
    font-size: 14px;
    color: #6F6F6F;
}

footer img {
    height: 20px;
}