/* 頁面A：大LOGO+找心理師按鈕 */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(51, 42, 84),rgb(112, 105, 138));
    position: relative;
}

/* .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
} */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.home-images-moon {
    position: absolute;
    top: 12%;
    right: 15%;
    width: 16vw; 
    max-width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(238, 233, 203), rgb(235, 216, 149));
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.8);
}

.home-images-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 16px auto;
    padding-bottom: 24px;
    height: auto;
}

.home-images-logo img {
    width: 88%; 
    height: auto; 
}

.search-btn {
    display: flex;
    justify-content: center;

}

.search-btn button {
    /* display: block; */
    background-color: #FFFFFF ;
    color: var(--primary-400);
    font-size: 2.4rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
    padding: 8px 72px;
    border-radius: 50px;
    box-shadow:
        4px 0px 4px rgba(125, 125, 125, 0.25),
        0px 4px 4px rgba(255, 255, 255, 0.33),
        inset 0px -4px 20px rgba(210, 210, 210, 0.7),
        inset 4px 0px 10px rgba(144, 144, 144, 0.8);
}

.search-btn button:hover {
    background: linear-gradient(to bottom, rgb(123, 104, 199, 0.8), rgb(167, 151, 231, 0.8));
    color: var(--white);
    box-shadow: -4px -4px 10px rgba(222, 209, 240, 0.315), 4px 4px 20px rgba(43, 41, 41, 0.925);
}

.search-btn i {
    padding: 16px 0px 16px 14px;
}


/* 原本月亮圖片的程式碼 */
/* .home-images-moon-container {
    position: absolute;
    top: 5%;  
    right: -45%; 
    z-index: 10;
    max-width: 300px; 
}
.home-images-moon-container img {
    width: 100%; 
    height: auto;
    object-fit:cover;
} */ 

/* .home-images-moon{
    position: absolute;
    background: linear-gradient(to bottom, rgb(238, 233, 203),rgb(235, 216, 149));
    width: 15vw;
    max-width: 128px; 
    height: auto; 
    border-radius: 50%; 
    top: 10%;  
    right: -45%; 
    box-shadow:
        0px 0px 100px rgb(255, 255, 255,0.8);
} */



/* 頁面B：痛點 */
#problems {
    position: relative;
    background: rgb(112, 105, 138);
    text-align: center;
    width: 100%;
    height: 190vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.problems-title {
    margin-bottom: 400px;
}

.problems-title h2 {
    display: inline-block;
    z-index: 5; 
    font-size:3.2rem;
    font-weight: 800;
    color: #fff;
}

.icon-anny,
.icon-annoymoon,
.item-6q{
    position: absolute;
}

.item-wave1, 
.item-wave2, 
.item-wave3,
.item-union
{
    position: absolute;
    bottom: 0;
}
.icon-annoymoon{
    top: 58%;  
    right: 40%; 
}

.icon-anny {
    top: 50%;  
    right: 48%; 
}

.item-6q{
    width: 75%;
}

/* .item-q1,
.item-q2,
.item-q3,
.item-q4,
.item-q5,
.item-q6 {
    position: absolute;
} */

.icon-anny,
.icon-annoymoon,
.item-6q,
.item-wave3,
.item-union {
    z-index: 3; 
}

.item-wave2 {
    z-index: 1; 
    opacity: 0.7;
}

.item-wave1 {
    z-index: 0; 
}


/* 服務特色區 */
#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #2C2C2D, #42514E);
    text-align: center;
    color: #fff;
}
.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem;
}

.title-container img {
    width: 24px;
    height: auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px; 
}
.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height:100%;
    padding: 32px 16px;
    flex-basis: 25%;
    border: 1px solid #fff;
    border-radius: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
}


.service-item:hover {
    transform: translateY(-10px); 
}

.service-item img {
    width: auto;
    max-width: 60px;
    height: auto;

}

.title-container h2 {
    font-size:4rem;
    font-weight: 800;
    align-items: center;
    margin: 10px;
}

.service-item h3 {
    font-size: 2.5rem;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 15px;
}

.service-item p {
    font-size: 1.5rem;
}

/* 數據證明區 */
#statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #42514E;
    color: #fff;
    padding: 40px 88px 93px 88px;
    text-align: center;


    
}

.stas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; 
    width: 100%;
}

.stas-item {
    width: 100%;/*元素的寬度會根據其父容器的寬度自動調整，*/
    max-width: 300px; /* 每個統計項目的最大寬度 */
}

.stas-item h3 {
    font-size: 4.5rem;
    margin-bottom: 8px;
    font-weight:400;
}

.stas-item p {
    font-size: 2rem;
    font-weight: bold;
    
}

/* Q&A區 */
#faq {
    color: #fff;
    position:relative;
    width: auto;
    background: linear-gradient(to bottom, #44615E, #1F8970);
    text-align: center;
    /* height: 800px; */
    /* margin-top: 50px; */

}

.home-images-wave-green img {
    width: 100%; 
    height: auto; 
    display: block; /* 去除圖片下方的空隙 */
}

.home-images-icon_annoymoonQQ  {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 20%; 
    transform: translate(-40%, -0%); 
    z-index: 10; 
}

.home-images-icon_annoymoonQQ img {
    height: auto; 
    display: block; /* 去除圖片下方的空隙 */
}

#faq h2 {
    padding: 50px 20px;
    font-size:3.2rem;
    font-weight: 800;
    
}

.faq-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 88px;
}

.question {
    background-color: rgba(255, 255, 255, 0.1); 
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin: 16px;
    padding: 20px;
    width: 100%; 
    max-width: 320px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
        /* justify-content: center; */
}

.question h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 800;
}

.home-images-wave-lightgreen img{
    width: 100%; 
    height: auto; 
    display: block; /* 去除圖片下方的空隙 */
}

/* 服務流程區 */
#step-section {
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #74A695;
    padding: 50px 20px;
    text-align: center;   
}

#step-section img{
    width: 24%;
    display: block; /* 去除圖片下方的空隙 */
    margin-right: 2px;
}

#step-section h2 {
    font-size:4rem;
    font-weight: 800;
    margin-top: 40px;
}

.step-container {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap;  */
    width: 100%;
    max-width: 1200px; /* 最大寬度 */
    gap: 40px; 
    margin: 80px;
}

.step {
    display: flex;
    /* flex-direction: column;  */
    align-items: center;
    /* text-align: center; */
    width: 480px;
    flex-grow: 1; 
    padding: 24px;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
}

.step-image-box{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(4.5); /*控制icon大小*/
}

.context{
    margin-left: 16px;
    width: 100%;
    max-width: 300px;
}
.context p{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;

}
.context h3 {
    font-size: 2.4rem;
    font-weight: 800;
    text-align: left;
    margin-bottom: 10px;
    color: #F2CE98;
}

.readmore-btn button {
    background-color: #74A695;
    color: #FFFFFF;
    border:2px #FFFFFF solid;
    padding: 20px 40px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}
.readmore-btn button:hover {
    color:#74A695;
    background-color:#fff;
    border:2px #74A695 solid;
}

/* 用戶經驗分享區 */
#experience_sharing {
    background: linear-gradient(to bottom, #86C89E, #D3D7C4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    /* overflow: hidden;  */
}

.wave-background img {
    display: block;
    width: 100%; 
    height: auto; 
}


.icon_annoymoon_Happy  {
    position: absolute; 
    top: 15%; 
    left: 9%; 
    width: 18%;
    /* z-index: 100;  */
}

.icon_annoymoon_Happy img {
    width: 100%;
    height: auto; 
    display: block; /* 去除圖片下方的空隙 */
}

#experience_sharing h2 {
    color: #fff;
    font-weight: 800;
    font-size: 3.5rem;
    margin: 40px 10px;
}

.experience_sharing_list_box {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    padding: 20px;
    padding-bottom: 80px;
    gap: 20px;
}

.experience_sharing_list {
    display: flex;
    flex-direction: column;
    align-items:center ;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    width: 200px;
    height: 240px;
    font-size: 16px;
}

.icon_box{
    padding-bottom: 20px;
}
.experience_sharing_title{
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line {
    display: inline-block;
    width: 300px;
    height: 2px;
    background-color: #fff;
    margin-top: 5px;
}
.go-top-btn {
    position: fixed;
    bottom: 90px;
    right: 24px;
    background-color: #F2CE98;
    display: none; 
    color:transparent;
    border: none;
    border-radius: 50px;
    padding: 1px;
    cursor: pointer;
    transition: opacity 0.4s;
    z-index: 1000;
}

.go-top-btn:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.go-top-btn img {
    width: 48px; 
    height: 48px;
}

/* 頁尾區 */
footer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

footer .logo {
    flex: 1;
    text-align: left;
}

footer img {
    height: 40px;
    width: auto;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    flex: 1;
}

footer nav ul li a {
    font-size: 1.6rem;
    font-weight: 800;
    color: #6F6F6F;
}

footer small {
    font-family:  var(--K2D-body);
    font-size: 1.4rem;
    color: #6F6F6F;
    flex: 1;
    text-align: right;
}

footer img {
    height: 20px;
}