/* 用戶經驗分享區 */
#experience_sharing {
    background: linear-gradient(to bottom, #86c89e, #bed8b9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

#experience_sharing h2 {
    color: #fff;
    font-weight: 800;
    font-size: 3.2rem;
    margin: 40px 10px;
}

.experience_sharing_item_box {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    padding: 20px;
    padding-bottom: 80px;
    gap: 20px;
    width: 85%;
    height: 60vh;
    gap: 2.5%;
}

.experience_sharing_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 30px;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.icon_box {
    width: 40%;
    height: auto;
    /* padding-bottom: 15px; */
}

.icon_box img {
    object-fit: cover;
}

/* 
.heart{
    width: 80%;
    height: auto;
    padding: 16px;
} */

.context-box {
    height: auto;
    /* width: 180px; */
    max-width: 238px;
    text-align: left;
}

.context-box p {
    white-space: normal;
    /* 允許文字換行 */
    text-overflow: ellipsis;
    /* 用省略號來表示被截斷的文字 */
    font-size: 1.4rem;
    line-height: 1.5;
    /* 設置行高 */
    max-height: 100%;
    /* 確保不會超過box的高度 */
    text-align: center;
}

.experience_sharing_title {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wave-background {
    width: 100%;
}

.wave-background img {
    width: 100%;
    /* 圖片寬度設為容器的 100% */
    object-fit: cover;
    /* 確保圖片填滿容器且不會變形 */
    height: auto;
    /* 保持圖片高度自動調整 */
}

.icon_annoymoon_Happy {
    position: absolute;
    top: 14%;
    left: 6%;
    width: 18%;
}
@media (max-width: 600px) {
    .icon_annoymoon_Happy {
        width: 38%;
        top: 0%;
        left: 0%;
    }
}

.icon_annoymoon_Happy img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.line {
    display: inline-block;
    width: 300px;
    height: 2px;
    background-color: #fff;
    margin-top: 5px;
}

.go-top-btn {
    position: fixed;
    bottom: 90px;
    right: 24px;
    background-color: transparent;
    display: none;
    color: transparent;
    border: none;
    border-radius: 50px;
    padding: 1px;
    cursor: pointer;
    transition: opacity 0.4s;
    z-index: 1000;
}

.go-top-btn:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.go-top-btn img {
    width: 48px;
    height: 48px;
}

/* 輪播卡片 */

.EScards {
    margin: 0;
    color: #fff;
    display: flex;
    align-items: center;
    width: 50%;
}

.slider {
    width: 100%;
    min-height: 380px;
}

.slider input {
    display: none;
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 280px;
    perspective: 500px;
    width: auto;
}

.testimonials .item {
    max-width: 225px;
    height: auto;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    background: linear-gradient(to bottom, rgb(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
    /* border-color: rgba( rgb(255, 255, 255)); */
    box-shadow: 0 9px 30px rgba(99, 98, 98, 0.13);
    position: absolute;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    user-select: none;
    cursor: pointer;
}

.mycard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kimo-box {
    width: 45%;
}

.kimo-box img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    height: auto;
}

.cardtitle {
    padding-top: 12px;
    --tw-text-opacity: 1;
    text-align: center;
    color: #6f6f6f;
    font-weight: 700;
}

.heart {
    padding: 14px;
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: block;
}

.carddescription {
    font-size: 1.4rem;
    padding-top: 4px;
    --tw-text-opacity: 1;
    color: var(--black-700);
    text-align: center;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.dots label {
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--white);
    margin: 7px;
    transition: transform 0.2s, color 0.2s;
}

/* 控制卡片位移 */
/* First */
#t-1:checked ~ .dots label[for="t-1"] {
    transform: scale(2);
    background-color: #fff;
}

#t-1:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-1"] {
    z-index: 4;
}

#t-1:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(295px) translateZ(-90px) translateY(-15px);
    z-index: 3;
}

#t-1:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(610px) translateZ(-180px) translateY(-30px);
    z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(-610px) translateZ(-180px) translateY(-30px);
    z-index: 1;
}

#t-1:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(-295px) translateZ(-90px) translateY(-15px);
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
    transform: scale(1.5);
}

#t-2:checked ~ .dots label[for="t-2"] {
    transform: scale(2);
    background-color: #fff;
}

#t-2:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
}

#t-2:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-295px) translateZ(-90px) translateY(-15px);
}

#t-2:checked ~ .testimonials label[for="t-2"] {
    z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(295px) translateZ(-90px) translateY(-15px);
    z-index: 2;
}

#t-2:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(610px) translateZ(-180px) translateY(-30px);
    z-index: 1;
}

#t-2:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(-610px) translateZ(-180px) translateY(-30px);
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
}

#t-3:checked ~ .dots label[for="t-3"] {
    transform: scale(2);
    background-color: #fff;
}

#t-3:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
}

#t-3:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-610px) translateZ(-180px) translateY(-30px);
}

#t-3:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-295px) translateZ(-90px) translateY(-15px);
}

#t-3:checked ~ .testimonials label[for="t-3"] {
    z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(295px) translateZ(-90px) translateY(-15px);
    z-index: 2;
}

#t-3:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(610px) translateZ(-180px) translateY(-30px);
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
}

#t-4:checked ~ .dots label[for="t-4"] {
    transform: scale(2);
    background-color: #fff;
}

#t-4:checked ~ .dots label[for="t-5"] {
    transform: scale(1.5);
}

#t-4:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(610px) translateZ(-180px) translateY(-30px);
}

#t-4:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-610px) translateZ(-180px) translateY(-30px);
}

#t-4:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(-295px) translateZ(-90px) translateY(-15px);
    z-index: 2;
}

#t-4:checked ~ .testimonials label[for="t-4"] {
    z-index: 3;
}

#t-4:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(295px) translateZ(-90px) translateY(-15px);
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
}

#t-5:checked ~ .dots label[for="t-5"] {
    transform: scale(2);
    background-color: #fff;
}

#t-5:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(295px) translateZ(-90px) translateY(-15px);
}

#t-5:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(610px) translateZ(-180px) translateY(-30px);
    z-index: 1;
}

#t-5:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(-610px) translateZ(-180px) translateY(-30px);
    z-index: 2;
}

#t-5:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(-295px) translateZ(-90px) translateY(-15px);
    z-index: 3;
}

#t-5:checked ~ .testimonials label[for="t-5"] {
    z-index: 4;
}
