@use "reset";
@use "variables";
body {
    background-color: #818181;
}
.login-container {
    width: 40%;
    margin: 0 auto;
    padding: 32px 36px;
    border-radius: 20px;
    background-color: #fff;
}

.tab {
    display: flex;
    margin-bottom: 16px;

    .tab-btn {
        color: var(--black-700);
        background-color: white;
        border: none;
        font-size: 24px;
        cursor: pointer;
        line-height: 60px;
        text-align: center;
        width: 100%;

        &.active {
            font-weight: 700;
            color: black;
            border-bottom: 1px solid black;
        }
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        margin-bottom: 5px;
        font-size: 14px;
    }

    input {
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 16px;
        line-height: 24px;
        font-size: 16px;
    }
    input[name="password"] {
        margin-bottom: 32px;
    }

    .login-btn {
        padding: 10px;
        background-color: white;
        color: var(--purple-400);
        border: 2px solid var(--purple-400);
        border-radius: 999px;
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 16px;

        &:hover {
            background-color: var(--primary-500);
            border: 2px solid var(--primary-500);
            color: white;
        }
    }

    .forgot-password {
        text-align: center;
        font-size: 12px;
        color: var(--black-700);
        text-decoration: none;
        margin-bottom: 24px;
        line-height: 24px;
    }
}

.divider {
    text-align: center;
    margin: 0 0 16px 0;
    font-size: 12px;
    color: #aaa;
    position: relative;

    &::before,
    &::after {
        content: "";
        display: block;
        height: 1px;
        background: #aaa;
        position: absolute;
        top: 50%;
        width: 40%;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}

.social-login {
    display: flex;
    flex-direction: column;

    .facebook-login,
    .google-login {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 12px;
        margin-bottom: 10px;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        justify-content: left;
        align-items: center;

        i {
            width: 10%;
        }
        p {
            width: 90%;
        }

        &.facebook-login {
            background-color: #3b5998;
            color: white;

            &:hover {
                background-color: #2d4373;
            }
        }

        &.google-login {
            background-color: white;
            color: black;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }
}
